{% extends 'base.html' %}
{% block title %}Entry{% endblock %}
{% block menu %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'entry_update' entry.pk %}">Редактировать Задачу</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'entry_delete' entry.pk %}">Удалить Задачу</a>
</li>
{% endblock %}
{% block content%}
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Имя автора: {{ entry.author_name }}</h5>
            <p>Почта автора: {{ entry.author_mailbox }}</p>
            <p>Запис: {{ entry.text|linebreaks  }}</p>
            <p>Статус: {{ entry.status }}</p>
        </div>
    </div>
</div>
{% endblock %}