{% extends 'base.html' %}
{% block title %}Entry confirm delete{% endblock %}
{% block menu %}
    <a class="nav-link" href="{% url 'entry_update' entry.pk %}">Редактировать Запись</a>
{% endblock %}
{% block content%}
<div class="container">
    <h1>Вы точно хотите удалить запись?</h1>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Имя автора: {{ entry.author_name }}</h5>
            <p>Почта автора: {{ entry.author_mailbox }}</p>
            <p>Запис: {{ entry.text|linebreaks  }}</p>
            <p>Статус: {{ entry.status }}</p>
            <form action="{% url 'confirm_delete' entry.pk %}" method="post">
                {% csrf_token %}
                <p><input type="submit" value="Удалить"></p>
                <p><a href="{% url 'index' %}">Отмена</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}