{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu%}
{% endblock %}
{% block content%}
<h1>Записи</h1>
{% for entry in entries %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ entry.author_name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ entry.author_mailbox }}</h6>
    <p class="card-text">{{ entry.text }}</p>
    <p class="card-text">{{ entry.created_at }}</p>
    <p class="card-text">{{ entry.updated_at }}</p>
    <p class="card-text">{{ entry.status }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}