{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu%}
{% endblock %}
{% block content%}
<h1>Записи</h1>
{% for entry in entries %}
<div class="card my-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h4 class="card-title">{{ entry.author_name }}</h4>
      </div>
      <div>
        <a class="" href="{% url 'entry_delete' entry.pk %}">
          <i class="fa-regular fa-trash-can tech_icon"></i>
        </a>
        <a class="" href="{% url 'entry_update' entry.pk %}">
          <i class="fa-regular fa-pen-to-square tech_icon"></i>
        </a>
      </div>
    </div>
    <h5 class="card-subtitle mb-2 text-muted">{{ entry.author_mailbox }}</h5>
    <p class="card-text">{{ entry.text }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}